
                        <tr> 
                            <td>{{userID}}</td>
                            {{!-- <td>{{this.fullName}}</td>  --}}
                            {{!-- <td>{{this.emailAddress}}</td>  --}}
                            {{!-- <td>{{this.createdAt}}</td> --}}
                            {{!-- <td>{{this.updatedAt}}</td> --}}
                            <td>            
                                {{!-- <form action="/ban-user" method="POST">
                                <input type="hidden" name="userID" value="{{userID}}">
                                <button type="submit" id="banButton">BAN</button>
                                </form></td> --}}
                        </tr> 
