<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->
                        <div class="movie">
                            <img src={{movie_img}} class="moviePicture">
                            <div class="movieInfo">
                                <h2 class="movieTitle" alt = "{{movie_id}}"><small></small>{{movie_name}}  </h2>
                                <h2 class="ticketTime">{{movie_timeSlot}}</h2>
                                <h2 class="ticketPrice"><small> PRICE: ₱ </small>{{price}}</h2>
                                <h2 class="ticketQuantity"><small> QTY: </small>{{quantity}}</h2>
                                <button class="ticketRemove">Remove</button>
                            </div>
                        </div>

 