<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->
   <form action="/ticket" method="post" enctype="multipart/form-data">
        <a href="javascript:;" onclick="parentNode.submit();"  name = {{id}} id = "movieref"> <img src = {{m_image}} class = "movieTicket"></a>
        <input type="hidden" name="id" value = {{id}}>
        <input type="hidden" name="date" value = {{date}}>
        <input type="hidden" name="timeslot" value ="{{timeslot}}">
        <input type="hidden" name="quantity" value ="{{quantity}}">
   </form>