                    <form action="/delete-review/{{reviewID}}" method = "POST" enctype="application/x-www-form-urlencoded">
                    <div class = "commentContainer">
                        <div class = "commentCard">
                            {{!-- <img src = {{this.profilePhoto}} class = "reviewpic"> --}}
                            <div class = "reviewContent">
                                <h3 class = "commenterName">{{reviewer}}</h3>
                                <h2 class = "commenterName"> Rating: {{rating}}</h3>
                                <p>{{description}}</p>
                                <input type="submit" id = "commentButton" value="Delete">
                            </div>
                        </div>
                    </div>
                    </form>