
                        <tr> 
                            <td>{{this.id}}</td>
                            {{!-- <td>{{this.fullName}}</td>  --}}
                            {{!-- <td>{{this.emailAddress}}</td>  --}}
                            {{!-- <td>{{this.createdAt}}</td> --}}
                            <td>{{this.lastLogin}}</td>
                            {{!-- <td>{{this.updatedAt}}</td> --}}
                            <td><button id="banButton">BAN</button></td>
                        </tr> 
