<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->
        
            <a href={{m_trailer}} id="trailer">
                <img src = {{m_image}} class = "poster">
                <img src = "../images/icons/play.png" id = "play"></a>
            <h2 class = "normal4" id="movieTitle" alt="{{m_id}}">{{m_name}}</h2>
            <p class = "normal5"><strong>CAST: {{m_cast}}</strong></p>
            
            <div id = "wBackground2">
                <p class="synopsis"><strong>SYNOPSIS:</strong></p>
                <p class="synopbody">{{m_synopsis}}</p>         
            
            {{#each timeSlotJQ}}
                {{> timeslot}}
            {{/each}}            
                
                <div id="buyTickets">
                    <h2 class = "normal7"><u>TICKET DETAILS: </u></h2>
                        <p class="normal8"><strong>DATE: &nbsp</strong><span id="date"></span><br>
                        <p class="normal9"><strong>TIME: &nbsp</strong><span id="time"></span></p>

                        <center><img src = "../images/icons/ticket.png" id = "ticket"></center>

                        <div class="counter">
                            <center>
                                <button class="countButton" id="minus">-</button>
                                <p id="number">00</p>
                                <button class="countButton" id="plus">+</button>
                            </center>
                        </div><br>
                        <center><div id="errorMessage"></div></center><br><br>
                        <button type="submit" class="addCartButton">Add To Cart</button>
                </div>


                <div id="postReview">
                    <h1 class = "descriptions">REVIEWS</h1>
                    <div class = "commentContainer">
                        <div class = "commentCard">
                            <div class = "reviewContent">
                                <h3 class = "commenterName">ADD REVIEW</h3>
                                <textarea name = "" id = "newReview" cols = "120" rows = "3">
                                </textarea>
                                <button id="commentButton">Post</button>
                            </div>
                        </div>
                    </div>

                    {{!-- insert post review div class here --}}
                    {{#each review}}
                        {{> userreview}}
                    {{/each}}
                </div>
                
            </div>
        </div>