<!--
PHASE 2 & 3
CCAPDEV S11
    Group Members: 
        Ng, Sherilyn Kaye
        Vizmanos, Julianne 
-->

            <a id="trailer"> <img src = {{m_image}} class = "poster"> </a>
            <h2 class = "normal4">{{m_name}}</h2>
            <p class = "normal5"><strong>CAST: {{m_cast}}</strong></p>
            
            <div id = "wBackground2">
                <p class="synopsis"><strong>SYNOPSIS:</strong></p>
                <p class="synopbody"> {{m_synopsis}}</p> 

                <div class="movieInfo">
                    <h3 class="ticketInfo"> <i> <u> Ticket Information: </u> </i></h3>
                    <h2 class="username"><small>User: </small>{{username}}</h2>
                    <h2 class="name"><small>Name: </small>{{l_name}}, {{f_name}}</h2>
                    <h2 class="ticketTime"><small>Date: </small>{{timeslot}}</h2>      
                    <h2 class="ticketQuantity"><small> QTY: </small>{{quantity}}</h2>              
                </div>
            </div>